.container {
  margin-bottom: 4rem;
}

.header {
  font-weight: 700;
  font-size: 22px;
  color: #999999;
  text-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  grid-gap: 3rem;
}
