.container {
  margin-top: 2rem;
  min-height: 30vh;
}

.header {
  /* color: #d48c2b;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
  margin-top: 4rem; */

  font-weight: 700;
  font-size: 22px;
  color: #999999;
  text-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.card {
  background: var(--bg-secundary);
  padding: 3rem 3rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.cardHeader p {
  font-size: 2.4rem;
  font-weight: 700;
  color: #d48c2b;
}

.cardHeader span {
  color: #444;
  font-size: 1.2rem;
  font-weight: 700;
}

.card h3 {
  color: #696969;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0.2rem;
}

.card em {
  font-size: 1.4rem;
  color: #696969;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 20px;
  }

  .card {
    flex: 1;
  }

  .work {
    flex: 1;
  }

  .educationContainer {
    flex: 2;
    display: flex;
    gap: 20px;
  }

  .educationContainer .card {
    min-width: 29rem;
  }
}

@media (min-width: 1244px) {
  .educationContainer .card {
    min-width: 35rem;
  }
}

@media (min-width: 1350px) {
  .educationContainer .card {
    min-width: 39rem;
  }
}

@media (min-width: 1450px) {
  .educationContainer .card {
    min-width: 42rem;
  }
}
