.header {
  color: #d48c2b;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.header > span {
  margin-right: 12px;
}

.card {
  background: #252525;
  padding: 3rem 3rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}
